.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #a9bef9;
    padding: 10px;
    border-bottom: 1px solid #ccc ;
  }
  
  .logo {
    color: #333333;
    font-size: 24px;
    text-decoration: bold;
  }
  
  .logo:hover {
    text-decoration: underline;
  }
  
  .avatar {
    width: 70px;
    height: 30px;
  }

  .user {
    font-size:10px;
    width: 50px;
  }
  