.title {
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    color: #007bff;
}

.subtitle {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    color: #6e59b9;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin: 0 auto;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .login-form div {
    margin: 5px;
  }
  
  .login-form button:hover {
    background-color: #0062cc;
  }
  
  .login-form .error {
    color: red;
    margin: 0px;
  }
  